<%= render 'shared/header' %>

<div class="skinny_wrapper">
		<h1 id="page_title" >Contact Me</h1>
		<h2 class="lined-h"><span><i class="fa fa-envelope-o" aria-hidden="true"></i>
</span></h2>

	<%= form_for @contact do |f| %>
		<div class="form-group">
			<%= f.label :name, class: "control-label" %>
			<%= f.text_field :name, required: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :email, class: "control-label" %>
			<%= f.email_field :email, required: true, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :message, class: "control-label" %>
			<%= f.text_area :message, rows: 7, as: :text, class: "form-control" %>
		</div>
		
		<div class="hidden">
			<%= f.label :nickname %><br>
			<%= f.text_field :nickname, hint: 'leave this field blank'%>
		</div>
		<div class="button_wrapper">
			<%= f.submit 'Send Message', class: 'project_button' %>
		</div>
	<% end %>
</div>